In [42]:
X

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,Year
0,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,WNW,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,2008
1,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,WSW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,2008
2,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,WSW,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,2008
3,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,E,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,2008
4,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,NW,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259903,Uluru,26.6,40.7,0.0,NaN,NaN,SSE,46.0,SSE,SE,...,34.0,14.0,1013.0,1009.7,2.0,NaN,29.8,39.5,No,2025
259904,Uluru,27.6,39.9,0.0,NaN,NaN,E,44.0,ESE,ESE,...,29.0,17.0,1015.7,1011.6,2.0,NaN,29.9,37.9,No,2025
259905,Uluru,24.9,41.4,0.0,NaN,NaN,E,39.0,ENE,S,...,21.0,14.0,1015.7,1011.4,NaN,NaN,30.6,39.8,No,2025
259906,Uluru,22.5,42.0,0.0,NaN,NaN,E,46.0,ESE,ESE,...,16.0,9.0,1015.8,1010.8,1.0,NaN,33.6,41.5,No,2025
259907,Uluru,22.2,42.4,0.0,NaN,NaN,NE,37.0,E,ESE,...,10.0,6.0,1013.6,1009.5,NaN,NaN,31.9,41.7,No,2025

In [43]:
y

0         No
1         No
2         No
3         No
4         No
          ..
259903    No
259904    No
259905    No
259906    No
259907    No
Name: RainTomorrow, Length: 259908, dtype: object

In [44]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [45]:
X_train.shape, X_test.shape

((207926, 22), (51982, 22))

In [46]:
X_train.dtypes

Location          object
MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm     float64
Humidity9am      float64
Humidity3pm      float64
Pressure9am      float64
Pressure3pm      float64
Cloud9am         float64
Cloud3pm         float64
Temp9am          float64
Temp3pm          float64
RainToday         object
Year               int32
dtype: object

In [47]:
categorical = [cool for cool in X_train.columns if X_train[cool].dtypes == 'O']
categorical

['Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm', 'RainToday']

In [48]:
numerical = [cool for cool in X_train.columns if X_train[cool].dtypes != 'O' ]
numerical

['MinTemp',
 'MaxTemp',
 'Rainfall',
 'Evaporation',
 'Sunshine',
 'WindGustSpeed',
 'WindSpeed9am',
 'WindSpeed3pm',
 'Humidity9am',
 'Humidity3pm',
 'Pressure9am',
 'Pressure3pm',
 'Cloud9am',
 'Cloud3pm',
 'Temp9am',
 'Temp3pm',
 'Year']

In [49]:
X_train[numerical].isnull().sum()

MinTemp            3645
MaxTemp            3636
Rainfall           6337
Evaporation      118393
Sunshine         126866
WindGustSpeed     15292
WindSpeed9am       4347
WindSpeed3pm       7909
Humidity9am        4829
Humidity3pm        8797
Pressure9am       23061
Pressure3pm       23038
Cloud9am          94131
Cloud3pm          98945
Temp9am            3635
Temp3pm            7700
Year                  0
dtype: int64

In [50]:
X_test[numerical].isnull().sum()

MinTemp            955
MaxTemp            899
Rainfall          1622
Evaporation      29772
Sunshine         31818
WindGustSpeed     3754
WindSpeed9am      1108
WindSpeed3pm      1968
Humidity9am       1239
Humidity3pm       2181
Pressure9am       5599
Pressure3pm       5600
Cloud9am         23635
Cloud3pm         24859
Temp9am            957
Temp3pm           1914
Year                 0
dtype: int64

In [51]:
for col in numerical:
    if X_train[col].isnull().mean() > 0:
        print(col, round(X_train[col].isnull().mean(),4))

MinTemp 0.0175
MaxTemp 0.0175
Rainfall 0.0305
Evaporation 0.5694
Sunshine 0.6101
WindGustSpeed 0.0735
WindSpeed9am 0.0209
WindSpeed3pm 0.038
Humidity9am 0.0232
Humidity3pm 0.0423
Pressure9am 0.1109
Pressure3pm 0.1108
Cloud9am 0.4527
Cloud3pm 0.4759
Temp9am 0.0175
Temp3pm 0.037

# Assumption

I assume that the data are missing completely at random (MCAR). There are two methods which can be used to impute missing values. One is mean or median imputation and other one is random sample imputation. When there are outliers in the dataset, we should use median imputation. So, I will use median imputation because median imputation is robust to outliers.

I will impute missing values with the appropriate statistical measures of the data, in this case median. Imputation should be done over the training set, and then propagated to the test set. It means that the statistical measures to be used to fill missing values both in train and test set, should be extracted from the train set only. This is to avoid overfitting.

In [52]:
for df1 in [X_train, X_test]:
    for col in numerical:
        col_median = X_train[col].median()
        df1[col].fillna(col_median, inplace=True)

In [53]:
X_train[numerical].isnull().sum()

MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustSpeed    0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
Year             0
dtype: int64

In [54]:
X_test[numerical].isnull().sum()

MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustSpeed    0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
Year             0
dtype: int64

# Engineering missing values in categorical variables

In [55]:
def max_value(
	df3,
 	variable,
	top
)-> None:
    return np.where(df3[variable]>top, top, df3[variable])


for df3 in [X_train, X_test]:
    df3['Rainfall'] = max_value(df3, 'Rainfall', 3.2)
    df3['Evaporation'] = max_value(df3, 'Evaporation', 21.8)
    df3['WindSpeed9am'] = max_value(df3, 'WindSpeed9am', 55)
    df3['WindSpeed3pm'] = max_value(df3, 'WindSpeed3pm', 57)

In [56]:
X_train.Rainfall.max(), X_test.Rainfall.max()

(np.float64(3.2), np.float64(3.2))

In [57]:
X_train.Evaporation.max(), X_test.Evaporation.max()

(np.float64(21.8), np.float64(21.8))

In [58]:
X_train.Evaporation.max(), X_test.Evaporation.max()

(np.float64(21.8), np.float64(21.8))

In [59]:
X_train.WindSpeed9am.max(), X_test.WindSpeed9am.max()

(np.float64(55.0), np.float64(55.0))

In [60]:
X_train.WindSpeed3pm.max(), X_test.WindSpeed3pm.max()

(np.float64(57.0), np.float64(57.0))

In [61]:


X_train[numerical].describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,Year
count,207926.000000,207926.000000,207926.000000,207926.000000,207926.000000,207926.000000,207926.000000,207926.000000,207926.000000,207926.000000,207926.000000,207926.000000,207926.000000,207926.000000,207926.000000,207926.000000,207926.000000
mean,12.111055,23.256256,0.654489,5.074938,8.160694,39.897247,14.004213,18.465646,69.103066,51.486514,1017.701934,1015.275418,5.313126,4.848499,16.950539,21.730975,2016.639949
std,6.370066,7.058832,1.171529,2.429626,2.396442,12.981801,8.725112,8.481789,19.152669,20.551627,6.678939,6.635990,2.232251,2.006459,6.468363,6.852871,4.828522
min,-8.700000,-4.100000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,978.600000,972.000000,0.000000,0.000000,-6.000000,-5.100000,2007.000000
25%,7.600000,18.100000,0.000000,4.800000,8.500000,31.000000,7.000000,13.000000,57.000000,37.000000,1013.600000,1011.100000,5.000000,5.000000,12.300000,16.900000,2012.000000
50%,11.900000,22.700000,0.000000,4.800000,8.500000,39.000000,13.000000,17.000000,70.000000,52.000000,1017.600000,1015.200000,6.000000,5.000000,16.700000,21.200000,2017.000000
75%,16.700000,28.100000,0.600000,4.800000,8.500000,46.000000,19.000000,24.000000,83.000000,65.000000,1021.800000,1019.400000,6.000000,6.000000,21.400000,26.200000,2021.000000
max,33.900000,48.900000,3.200000,21.800000,14.400000,154.000000,55.000000,57.000000,100.000000,100.000000,1042.500000,1040.300000,8.000000,9.000000,39.400000,48.200000,2025.000000

We can now see that the outliers in Rainfall, Evaporation, WindSpeed9am and WindSpeed3pm columns are capped.

# Encode categorical variables

In [62]:
categorical

['Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm', 'RainToday']

In [63]:
X_train[categorical].head()

             Location WindGustDir WindDir9am WindDir3pm RainToday
132639           Nhil         ENE         NE        SSE       Yes
163451      GoldCoast         NaN         SE          E        No
60503   SydneyAirport         SSE        SSE        SSW       Yes
101669       Ballarat          NW          S         NW        No
248628         Darwin          NW        ENE          N        No

In [64]:
import category_encoders as ce

encoder =  ce.BinaryEncoder(cols=['RainToday'])

X_train = encoder.fit_transform(X_train)

X_test = encoder.transform(X_test)

In [65]:
print(f'This is a encode category {X_train[:4]}')

This is a encode category              Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  \
132639           Nhil      6.7     12.8       3.2          4.8       8.5
163451      GoldCoast     21.7     22.7       0.0          4.8       8.5
60503   SydneyAirport     11.6     15.6       3.2          4.8       0.0
101669       Ballarat      9.0     30.0       0.0          4.8       8.5

       WindGustDir  WindGustSpeed WindDir9am WindDir3pm  ...  Humidity3pm  \
132639         ENE           54.0         NE        SSE  ...         79.0
163451         NaN           39.0         SE          E  ...         72.0
60503          SSE           89.0        SSE        SSW  ...         96.0
101669          NW           35.0          S         NW  ...         26.0

        Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  \
132639        987.5        987.7       6.0       5.0      8.8     11.6
163451       1013.8       1011.1       6.0       5.0     27.6     28.3
60503        1001.9       1004.9       8.0       8.0     13.7     13.1
101669       1013.5       1010.3       7.0       8.0     14.7     28.4

        RainToday_0  RainToday_1  Year
132639            0            1  2022
163451            1            0  2016
60503             0            1  2014
101669            1            0  2023

[4 rows x 23 columns]

In [66]:
X_train.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday_0,RainToday_1,Year
132639,Nhil,6.7,12.8,3.2,4.8,8.5,ENE,54.0,NE,SSE,...,79.0,987.5,987.7,6.0,5.0,8.8,11.6,0,1,2022
163451,GoldCoast,21.7,22.7,0.0,4.8,8.5,NaN,39.0,SE,E,...,72.0,1013.8,1011.1,6.0,5.0,27.6,28.3,1,0,2016
60503,SydneyAirport,11.6,15.6,3.2,4.8,0.0,SSE,89.0,SSE,SSW,...,96.0,1001.9,1004.9,8.0,8.0,13.7,13.1,0,1,2014
101669,Ballarat,9.0,30.0,0.0,4.8,8.5,NW,35.0,S,NW,...,26.0,1013.5,1010.3,7.0,8.0,14.7,28.4,1,0,2023
248628,Darwin,23.4,33.3,0.0,6.2,10.9,NW,39.0,ENE,N,...,40.0,1014.6,1009.5,3.0,2.0,28.4,31.6,1,0,2014

We can see that two additional variables RainToday_0 and RainToday_1 are created from RainToday variable.

Now, I will create the X_train training s

In [67]:


X_train = pd.concat([X_train[numerical], X_train[['RainToday_0', 'RainToday_1']],
			pd.get_dummies(X_train.Location), 
			pd.get_dummies(X_train.WindGustDir),
			pd.get_dummies(X_train.WindDir9am),
			pd.get_dummies(X_train.WindDir3pm)], axis=1

)

In [68]:
X_train.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,...,NNW,NW,S,SE,SSE,SSW,SW,W,WNW,WSW
132639,6.7,12.8,3.2,4.8,8.5,54.0,13.0,24.0,96.0,79.0,...,False,False,False,False,True,False,False,False,False,False
163451,21.7,22.7,0.0,4.8,8.5,39.0,7.0,24.0,80.0,72.0,...,False,False,False,False,False,False,False,False,False,False
60503,11.6,15.6,3.2,4.8,0.0,89.0,55.0,52.0,99.0,96.0,...,False,False,False,False,False,True,False,False,False,False
101669,9.0,30.0,0.0,4.8,8.5,35.0,9.0,17.0,91.0,26.0,...,False,True,False,False,False,False,False,False,False,False
248628,23.4,33.3,0.0,6.2,10.9,39.0,13.0,28.0,60.0,40.0,...,False,False,False,False,False,False,False,False,False,False



Similarly, I will create the X_test testing set.

In [69]:
X_test = pd.concat([X_test[numerical], X_test[['RainToday_0', 'RainToday_1']],
                     pd.get_dummies(X_test.Location), 
                     pd.get_dummies(X_test.WindGustDir),
                     pd.get_dummies(X_test.WindDir9am),
                     pd.get_dummies(X_test.WindDir3pm)], axis=1)

In [70]:
X_test.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,...,NNW,NW,S,SE,SSE,SSW,SW,W,WNW,WSW
119911,13.8,19.9,0.0,5.6,3.3,46.0,17.0,26.0,62.0,53.0,...,False,False,False,False,True,False,False,False,False,False
10754,17.2,25.1,1.4,4.8,8.5,24.0,11.0,15.0,78.0,75.0,...,False,False,False,False,False,False,False,False,False,False
28704,8.0,21.7,0.0,4.8,8.5,39.0,19.0,17.0,49.0,52.0,...,False,False,False,False,False,False,False,False,False,False
9739,19.4,31.7,0.2,4.8,8.5,39.0,7.0,19.0,54.0,57.0,...,False,False,False,False,False,False,False,False,False,False
247855,16.0,30.2,0.0,5.6,10.7,28.0,15.0,15.0,61.0,32.0,...,True,False,False,False,False,False,False,False,False,False

# Feature Scaling

In [71]:
X_train.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,Year,RainToday_0,RainToday_1
count,207926.000000,207926.000000,207926.000000,207926.000000,207926.000000,207926.000000,207926.000000,207926.000000,207926.000000,207926.000000,207926.000000,207926.000000,207926.000000,207926.000000,207926.000000,207926.000000,207926.000000,207926.000000,207926.000000
mean,12.111055,23.256256,0.654489,5.074938,8.160694,39.897247,14.004213,18.465646,69.103066,51.486514,1017.701934,1015.275418,5.313126,4.848499,16.950539,21.730975,2016.639949,0.785958,0.244520
std,6.370066,7.058832,1.171529,2.429626,2.396442,12.981801,8.725112,8.481789,19.152669,20.551627,6.678939,6.635990,2.232251,2.006459,6.468363,6.852871,4.828522,0.410157,0.429803
min,-8.700000,-4.100000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,978.600000,972.000000,0.000000,0.000000,-6.000000,-5.100000,2007.000000,0.000000,0.000000
25%,7.600000,18.100000,0.000000,4.800000,8.500000,31.000000,7.000000,13.000000,57.000000,37.000000,1013.600000,1011.100000,5.000000,5.000000,12.300000,16.900000,2012.000000,1.000000,0.000000
50%,11.900000,22.700000,0.000000,4.800000,8.500000,39.000000,13.000000,17.000000,70.000000,52.000000,1017.600000,1015.200000,6.000000,5.000000,16.700000,21.200000,2017.000000,1.000000,0.000000
75%,16.700000,28.100000,0.600000,4.800000,8.500000,46.000000,19.000000,24.000000,83.000000,65.000000,1021.800000,1019.400000,6.000000,6.000000,21.400000,26.200000,2021.000000,1.000000,0.000000
max,33.900000,48.900000,3.200000,21.800000,14.400000,154.000000,55.000000,57.000000,100.000000,100.000000,1042.500000,1040.300000,8.000000,9.000000,39.400000,48.200000,2025.000000,1.000000,1.000000

In [72]:
cols = X_train.columns
cols

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am',
       'Humidity3pm',
       ...
       'NNW', 'NW', 'S', 'SE', 'SSE', 'SSW', 'SW', 'W', 'WNW', 'WSW'],
      dtype='object', length=116)

In [74]:
print(f'This is a scale data train {X_train}\n this is a scale data test{X_test}')

This is a scale data train [[0.36150235 0.31886792 1.         ... 0.         0.         0.        ]
 [0.71361502 0.50566038 0.         ... 0.         0.         0.        ]
 [0.47652582 0.37169811 1.         ... 0.         0.         0.        ]
 ...
 [0.6713615  0.53018868 0.         ... 0.         0.         0.        ]
 [0.33568075 0.50566038 0.         ... 0.         0.         0.        ]
 [0.51643192 0.4245283  1.         ... 0.         0.         0.        ]]
 this is a scale data test[[0.52816901 0.45283019 0.         ... 0.         0.         0.        ]
 [0.60798122 0.5509434  0.4375     ... 0.         0.         0.        ]
 [0.39201878 0.48679245 0.         ... 0.         0.         0.        ]
 ...
 [0.40375587 0.33962264 1.         ... 0.         0.         0.        ]
 [0.47887324 0.60943396 0.         ... 0.         0.         0.        ]
 [0.33333333 0.33396226 0.0625     ... 0.         0.         1.        ]]